label.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #4F493F;
}

.modal__alert {
  width: 350px;
  position: absolute;
  top: 95%
}

p.css-1wc848c-MuiFormHelperText-root.Mui-error {
  line-height: 1;
  margin-right: 0;
  margin-left: 5px;
}

