header.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: #C1B59F;
}

.logo-group {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 32px;
  letter-spacing: 5px;
  color: #4F493F;
}

.logo-group__logo {
  margin-left: 10px;
  margin-top: 4px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.logo-group__title {
  cursor: pointer;
}

.search-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  gap: 10px;
}

li.search-group__item-1 {
  border-top: 1px solid #908471
}

.buttons-group {
  display: flex;
  gap: 10px
}

.buttons-group__avatar {
  cursor: pointer;
}

