.detail-card__header--auth span.MuiCardHeader-subheader:hover {
  cursor: pointer;
  text-decoration: underline;
}

span.css-cah4f6-MuiTypography-root {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
}

.detail-card__header {
  height: auto;
}

.detail-card__picture {
  width: 100%;
  display: flex;
  justify-content: center;
}

.picture {
  width: 400px;
  margin-left: 10px;
}

p.detail-card__text {
  font-size: 18px;
  width: auto;
  max-width: 80rem;
  word-wrap: break-word;
}

.detail-card__tags {
  display: flex;
  gap: 5px;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

div.detail-card__tags span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 3;
  color: #4F493F;
  border-radius: 50%;
}

.detail-card__tags div {
  width: auto;
  height: auto;
}

.detail-card__date {
  margin-left: 86%;
  color: #4F493F;
}

.detail-card__rating-group {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rating-group p {
  color: #4F493F;
  font-size: 16px;
  letter-spacing: 1px;
}

