.container__posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}

.user-posts {
  justify-content: space-around;
  padding: 20px 0;
}

.user-posts span.css-mpwysi-MuiTypography-root:hover {
  cursor: auto;
  text-decoration: none;
}

