@import 'https://fonts.googleapis.com/css?family=Raleway&display=swap';

html, 
p.css-1pn1rpo-MuiTypography-root {
  font-family: 'Raleway';
}

* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #C1B59F;
}

:focus {
  outline: 0;
}

